{% extends "main.html" %}
{% block title%}все материалы{% endblock%}

{% block body%}

{% for m in messages %}
<h3 class="text-danger">{{ m }}</h3>
{% endfor %}

    <h1>Материал</h1>
    <h3>{{ material.name }}</h3>
    <h3>{{ material.text }}</h3>
    <a href="{% url 'konspect' %}">Составить конспект</a>

<h1>Составить конспект</h1>
<form action="{% url 'questions_konspect' %}" method="post">
    {% csrf_token %}
    {% for q in questions %}
        <p>{{ q.text }} <input type="text" name="{{ q.id }}"/><br></p>
    {% endfor %}
    <button type="submit"   class="btn btn-primary btn-sm">OK</button>
</form>
{% endblock%}
