{% extends "main.html" %}
{% block title%}все материалы{% endblock%}

{% block body%}

{% for m in messages %}
<h3 class="text-danger">{{ m }}</h3>
{% endfor %}

    <h1>Материал</h1>
    <h3>{{ material.name }}</h3>
    <h3>{{ material.text }}</h3>

{% if Answer_questions %}
    {% for q in Answer_questions %}
        <p>{{ q.question.text }} {{ q.answer }}<br></p>
    {% endfor %}
{% else %}
<h1>Составить конспект</h1>
<form action="{% url 'questions_konspect' material_id=material.id %}" method="post">
    {% csrf_token %}
    {% for q in questions %}
        <p>{{ q.text }} <input type="text" name="{{ q.id }}"/><br></p>
    {% endfor %}
    <button type="submit"   class="btn btn-primary btn-sm">OK</button>
</form>
{% endif %}
{% endblock%}
